.cardPanel {
  width: 295px;
  height: 150px;
  background:#007bff;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.2s;
}

.cardPanelHover:hover {
  background: #73ecfc;
  transform: scale(1.1);
}

.cardPanelHover:hover .btn-primary {
  background: #007bff;
  color: white;
}

.cardPanel .btn-primary {
  color: black;
  background: #73ecfc;
}
