.vacancy-data {
  display: flex;
  flex-direction: column;
}

.basic-data {
  display: flex;
}

.data {
  display: flex;
  margin-right: 20px;
}

.vacancy-data span {
  font-weight: bold;
}

@media only screen and (max-width: 992px) {
  .data {
    display: block;
  }
}

@media only screen and (max-width: 433px) {
  .basic-data {
    display: block;
  }
}
