.side-bar {
  transition: 1.2s;
  position: fixed;
}

.side-bar-opened {
  width: 15%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  background: #12AFCB;
  opacity: 1 !important;
  transition: 1.2s;
}

.side-bar-closed {
  width: 0vw;
  height: 0vh;
  opacity: 0;
  transition: 1.2s;
}

.close-icon {
  cursor: pointer;
}

.close-button {
  display: flex;
  justify-content: flex-end;
}

.menu-item {
  display: flex;
  align-items: center;
  color: #EBF2F5;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  margin-left: 10px;
  text-decoration: none!important;
}

.menu-item:hover {
  color: #FFF;
  font-weight: bold;
}

.title {
  margin-left: 10px;
}
