* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

body {
  background-color: #EBF2F5!important;
}

body, input, button, textarea {
  font: 600 18px Nunito, sans-serif;
}
